<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885435647632-9fi5omg9ghb6uan081s02kp5iis8i23v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885435647632-9fi5omg9ghb6uan081s02kp5iis8i23v</string>
	<key>API_KEY</key>
	<string>AIzaSyCf1LvlfN3zuOsq2rRhFvhyp8mYpooxbfY</string>
	<key>GCM_SENDER_ID</key>
	<string>885435647632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asda</string>
	<key>PROJECT_ID</key>
	<string>streaming-app-flutter-57058</string>
	<key>STORAGE_BUCKET</key>
	<string>streaming-app-flutter-57058.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885435647632:ios:e3ba12fbdccc4693013a15</string>
</dict>
</plist>